.container{
    display: flex;
    flex-direction: column;
    height: 350px;
}

form{
    text-align: center;
}

.form-group {
    margin: 5px;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
}