<div class="header">
    <i class="fa fa-pagelines"></i>
</div>
<div class="container">
    <div class="left-container">
        <i class="fa fa-mortar-board" item-height="50px" item-height="50px"></i>
        <button>Courses</button>
    </div>

    <div class="button-container">
        <span>User Login</span>
        <!--      <a *ngIf="!(isLoggedIn | async)" [routerLink]="['/login']">Login</a> --> <!--uncomment when implement login/router logic -->
        <a *ngIf="!(isLoggedIn | async)" (click)="authService.login()" title="call .next(true) of ReplaySubject in Auth service">Login</a>
        <a *ngIf="(isLoggedIn | async)" (click)="authService.logout()" title="call .next(false) of ReplaySubject in Auth service">Logout</a>
    </div>
</div>