<app-header></app-header>
<div class="main-container">
    <div class="container label">
        <label for="title">Title</label>
        <label for="description">Description</label>
        <label for="date">Date</label>
        <label for="duration">Duration</label>
        <label for="author">Authors</label>
    </div>

    <div class="container">
        <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">

                <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
                <span *ngIf="f.submitted && !title.valid" class="help-block">Title is required</span>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                <textarea type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" required></textarea>
                <span *ngIf="f.submitted && !description.valid" class="help-block">description is required</span>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !date.valid }">

                <input type="date" class="form-control" name="date" [(ngModel)]="model.date" #date="ngModel" required />
                <span *ngIf="f.submitted && !date.valid" class="help-block">Date is required</span>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !duration.valid }">
                <input type="number" class="form-control" name="duration" [(ngModel)]="model.duration" #duration="ngModel" required />
                <label for="duration">{{model.duration || 0 | duration}}</label>
                <span *ngIf="f.submitted && !duration.valid" class="help-block">Duration is required</span>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !author.valid }">
                <textarea type="text" class="form-control" name="author" [(ngModel)]="model.author" #author="ngModel"></textarea>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary" (click)="save()">Save</button>
                <button [disabled]="loading" class="btn btn-primary" (click)="cancel()">Cancel</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
            </div>
           
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
    </div>
</div>

<app-footer></app-footer>