app-root{
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-family: cursive;
}
app-course{
    height: 80%;
}

button {
    height: 26px;
    margin: 2px;
    background-color: white;
    border-style: double;
}

i {
    margin: 3px;
}